@using M17E_TrabalhoModelo_2022_2023.Helper
<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>@ViewBag.Title - My ASP.NET Application</title>
    @Styles.Render("~/Content/css")
    @Scripts.Render("~/bundles/modernizr")
</head>
<body>
    <div class="navbar navbar-inverse navbar-fixed-top">
        <div class="container">
            <div class="navbar-header">
                <button type="button" class="navbar-toggle" data-toggle="collapse" data-target=".navbar-collapse" title="more options">
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                </button>
                @Html.ActionLink("Application name", "Index", "Home", new { area = "" }, new { @class = "navbar-brand" })
            </div>
            <div class="navbar-collapse collapse">
                <ul class="nav navbar-nav">
                    <li>@Html.ActionLink("Home", "Index", "Home")</li>
                    <li>@Html.ActionLink("About", "About", "Home")</li>
                    <li>@Html.ActionLink("Contact", "Contact", "Home")</li>
                    @if (Request.IsAuthenticated)
                    {
                        if (User.IsInRole("Administrador"))
                        {
                            <li>@Html.ActionLink("Utilizadores", "Index", "Utilizadores")</li>
                        }
                        <li>@Html.ActionLink("Quartos", "Index", "Quartos")</li>
                        <li>@Html.ActionLink("Estadias", "Index", "Estadias")</li>
                        <li>@Html.ActionLink("Clientes", "Index", "Clientes")</li>
                        <li>
                            <a href="#" class="dropdown-toggle" data-toggle="dropdown">Consultas</a>
                            <ul class="dropdown-menu">
                                <li>@Html.ActionLink("Pesquisa", "Index", "Consultas")</li>
                                <li>@Html.ActionLink("Pesquisa Dinamica", "PesquisaDinamica", "Consultas")</li>
                                <li>@Html.ActionLink("Melhor Cliente", "MelhorCliente", "Consultas")</li>
                                <li>@Html.ActionLink("Estadias Cliente", "EstadiasDeUmCliente", "Consultas")</li>
                            </ul>
                        </li>
                        <li>
                            <a href="#" class="dropdown-toggle" data-toggle="dropdown">
                                @Html.DisplayName("Olá " + User.Identity.Name)
                            </a>
                            <ul class="dropdown-menu">
                                <!--TODO: helper userid-->
                                <li>@Html.ActionLink("Editar perfil", "Edit/" + Html.UserId(User), "Utilizadores")</li>
                                <li>@Html.ActionLink("Terminar sessão", "Logout", "Login")</li>
                            </ul>
                        </li>
                    }
                    else
                    {
                        <li>@Html.ActionLink("Login", "Index", "Login")</li>
                    }
                </ul>
            </div>
        </div>
    </div>
    <div class="container body-content">
        @RenderBody()
        <hr />
        <footer>
            <p>Programação e Sistemas de Informação</p>
        </footer>
    </div>

    @Scripts.Render("~/bundles/jquery")
    @Scripts.Render("~/bundles/bootstrap")
    @RenderSection("scripts", required: false)
</body>
</html>
