@model IEnumerable<M17E_TrabalhoModelo_2022_2023.Models.Estadia>

@{
    ViewBag.Title = "Index";
}

<h2>Index</h2>

<p>
    @Html.ActionLink("Criar Estadia", "Create") |
    @Html.ActionLink("Lista de Estadias em Curso", "ListaEstadiasEmCurso")
</p>
<table class="table">
    <tr>
        <th>
            @Html.DisplayNameFor(model => model.cliente.Nome)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.quarto.Tipo_Quarto)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.data_entrada)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.data_saida)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.valor_pago)
        </th>
        <th></th>
    </tr>

@foreach (var item in Model) {
    <tr>
        <td>
            @Html.DisplayFor(modelItem => item.cliente.Nome)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.quarto.Tipo_Quarto)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.data_entrada)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.data_saida)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.valor_pago)
        </td>
        <td>
            @Html.ActionLink("Editar", "Edit", new { id=item.EstadiaId }) |
            @Html.ActionLink("Detalhes", "Details", new { id=item.EstadiaId }) 
        </td>
    </tr>
}

</table>
