@model M17E_TrabalhoModelo_2022_2023.Models.Estadia

@{
    ViewBag.Title = "Check Out";
}

<h2>Check Out</h2>

<div>
    <h4>Estadia</h4>
    <hr />
    <dl class="dl-horizontal">
        <dt>
            @Html.DisplayNameFor(model => model.cliente.Nome)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.cliente.Nome)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.QuartoID)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.QuartoID)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.data_entrada)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.data_entrada)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.data_saida)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.data_saida)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.valor_pago)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.valor_pago)
        </dd>
        <dt>
            Dias de estadia
        </dt>
        <dd>
            @Html.Raw(ViewBag.dias)
        </dd>
    </dl>
    @using(Html.BeginForm())
     {
        @Html.AntiForgeryToken()
        @Html.HiddenFor(model => model.ClienteID)
        @Html.HiddenFor(model => model.QuartoID)
        @Html.HiddenFor(model => model.valor_pago)
        @Html.HiddenFor(model => model.data_entrada)
        @Html.HiddenFor(model => model.data_saida)
        @Html.HiddenFor(model => model.EstadiaId)
        <div class="form-group">
            <div class="col-md-offset-2 col-md-10">
                <input type="submit" value="Guardar" class="btn btn-default" />
            </div>
        </div>
     }
</div>
<p>
    @Html.ActionLink("Voltar", "ListaEstadiasEmCurso")
</p>
